#box1 {
    height: 200px;
    width: 200px;
    background-color: blue;
}
#box2 {
    height: 200px;
    width: 200px;
    background-color: black;
}
#box3 {
    height: 200px;
    width: 200px;
    background-color: red;
}
#box4 {
    height: 200px;
    width: 200px;
    background-color: green;
}

.flexbox {
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    max-width: 1200px;
}